html {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    height: 100%;
    background-color: #f2f2f2;
    overflow-y: scroll;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.page-content {
    margin-top: -10%;
    text-align: center;
}

.btn {
    display: inline-block;
    position: relative;
    padding: 12px 15px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.4;
    text-decoration: none;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    /* Disables the default callout shown when you touch and hold a touch target  */
    -webkit-touch-callout: none;
    -ms-touch-action: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.btn-default {
    color: #fff;
    background: #002b47;
}
.btn-default:focus,
.btn-default:hover {
    outline: none;
    background: #003A61;
}

/* demos */
.demo-1 {

}